@media(max-width:992px){

.mission-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.mission-grid{

grid-template-columns:1fr;

}

.section-header h2{

font-size:2.2rem;

}

}